<!--Наследуем шаблон-->
{% extends 'template.html' %}

{% block tittle %}
    📈 MAIN PAGE 📉
{% endblock %}

{% block body %}
<div>
    <table class="main">
            <tbody>
                    <tr>
                        <td>
                            <form action="/form" method="get">
                                 <button type="submit" class="Start">START</button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <form action="/feedback" method="get">
                                <button type="submit" class="Feedback">FEEDBACK</button>
                            </form>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <form action="/about" method="get">
                                <button type="submit" class="About">ABOUT US</button>
                            </form>
                        </td>
                    </tr>
            </tbody>
    </table>
</div>
{% endblock %}