#pages_text {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-width: 0.5px;
    font-family: Trebuchet;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    color: rgb(0, 247, 255);

}

#pages_text2 {
    text-align: left;
    font-size: 18px;
    font-weight: bolder;
    font-family: sans-serif;
}

#pages_text3 {
	    text-align: left;
    font-size: 16px;
    font-family: Trebuchet;
}