<!-- Inheriting the template -->
{% extends 'template_ch.html' %}

<!-- A block instead of a page link -->
{% block tittle %}
	👤 关于作者 👤
{% endblock %}

<!-- The main content of the page -->
{% block body %}
<div>

	<!-- Page title -->
	<div class="lowland">
		<h1> 关于作者 </h1>
	</div>

	<!-- The table with personal css file -->
	<div class="about">
		<table style="margin-left: 32%">
			<tbody>

				<!-- The name and surname of the author of the site -->
				<tr>
					<td>
						<h2> 姓名及姓氏: </h2>
					</td>

					<td>
						<h3> Deniz Erdogan </h3>
					</td>
				</tr>

				<!-- The author repository -->
				<tr>
					<td>
						<h2> Git 仓库: </h2>
					</td>

					<td>
						<h3>
							<a href="https://github.com/Denzi33/Denzi33" target="_blank"> *过去* </a>
						</h3>
					</td>
				</tr>

				<!-- E-mail of the author of the site -->
				<tr>
					<td>
						<h2> 电子邮件: </h2>
					</td>

					<td>
						<h3> erdogan33@mail.ru </h3>
					</td>
				</tr>

				<!-- Biography of the author -->
				<tr>
					<td>
						<h2> 传记: </h2>
					</td>

					<td>
						<h3>
							二十二岁. <br>
							数据科学家. <br>
							大学的学生. <br>
							来自俄罗斯. <br>
							学校的学生 21.
						</h3>
					</td>
				</tr>

				<!-- The button to go to the main page -->
				<tr>
					<td>
						<form action="/home" method="get">
							<div>
								<button type="submit" class="my_button" style="width: 110px">
									<span> 到主页 </span>
								</button>
							</div>
						</form>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</div>
{% endblock %}