<!-- Inheriting the template -->
{% extends 'template_ru.html' %}

<!-- A block instead of a page link -->
{% block tittle %}
    ⚙️ Настройки ⚙️
{% endblock %}

<!-- The main content of the page -->
{% block body %}
<div>

	<div class="lowland">
		<h1> НАСТРОЙКИ </h1>
	</div>

	<!-- The table with personal css file -->
	<table class="options">
		<tbody>

		<form action="/options" method="post">

			<!-- Choose the site theme -->
			<tr>
				<td>
					<h2> Выберите тему веб-сайта: </h2>
				</td>

				<td>
					<h4><input name="theme" type="radio" value="light" required> Светлая </h4>
					<h4><input name="theme" type="radio" value="dark" required> Тёмная </h4>
				</td>
			</tr>

			<!-- Choose the site language -->
			<tr>
				<td>
					<h2> Выберите язык сайта: </h2>
				</td>

				<td>
					<select name="language">
						<option value="chinese"> 中文 </option>
						<option value="russian"> Русский </option>
						<option value="english"> English </option>
					</select>
				</td>
			</tr>

						<tr>
					<td>
						<a href="http://127.0.0.1:5000/home">
							<button type="button" class="my_button" style="width: 200px">
								<span> НАЗАД </span>
							</button>
						</a>
					</td>

					<td>
						<form action="/report" method="post">
							<button type="submit" class="my_button" style="width: 200px">
								<span> СОХРАНИТЬ </span>
							</button>
						</form>
					</td>
				</tr>

			</form>

		</tbody>
	</table>
</div>
{% endblock %}