<!-- Inheriting the template -->
{% extends 'template_en.html' %}

<!-- A block instead of a page link -->
{% block tittle %}
    ⚙️ Options ⚙️
{% endblock %}

<!-- The main content of the page -->
{% block body %}
<div>

	<div class="lowland">
		<h1> OPTIONS </h1>
	</div>

	<!-- The table with personal css file -->
	<div class="options">
		<table>
			<tbody>

			<form action="/options" method="post">

				<!-- Choose the site theme -->
				<tr>
					<td>
						<h2> Choose a website theme: </h2>
					</td>

					<td>
						<h4><input name="theme" type="radio" value="light" required> Light </h4>
						<h4><input name="theme" type="radio" value="dark" required> Dark </h4>
					</td>
				</tr>

				<!-- Choose the site language -->
				<tr>
					<td>
						<h2> Select the language of the website: </h2>
					</td>

					<td>
						<select name="language">
							<option value="chinese"> 中文 </option>
							<option value="russian"> Русский </option>
							<option value="english"> English </option>
						</select>
					</td>
				</tr>

				<tr>
					<td>
						<a href="http://127.0.0.1:5000/home">
							<button type="button" class="my_button" style="width: 200px">
								<span> BACK </span>
							</button>
						</a>
					</td>

					<td>
						<form action="/report" method="post">
							<button type="submit" class="my_button" style="width: 200px">
								<span> SAVE </span>
							</button>
						</form>
					</td>
				</tr>

				</form>

			</tbody>
		</table>
	</div>
</div>
{% endblock %}