


/* Подключение шрифтов */

*{
        margin: 0; 
        padding: 0;
        outline: none;
        text-decoration: none; 
}

.header-table{
    width: 70%;
    height: 100px;
    border: 1px solid black;
    background-color: orange;
    margin-left: 15%;
    margin-right: 15%;
}

.header-table td {
    width: 33%;
}

.siteName{
    text-align: center;
    font-size: 72px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    font-weight: 800;
}

.forms {
    text-align: right;
}

.reglogButtons {
    position: relative;
    left: 100px;
}

.underHeader-table {
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 35px;
    background-color:rgb(255,187,52);
    margin-bottom: 10px;
}

.underHeader-table td {
    text-align: center;
    
}

.midleTable{
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
    height: 750px;

}

.midleTable1{
    background: rgb(255, 145, 0);
    width: 15%;
    /* align: center;
    valign: top; */
    vertical-align: top;
    text-align: center;
}

.midleTable1 a{

}

.searchPanel{
    width: 92%;
    margin-top: 2px;
}

hr{
    position: relative;
    bottom: 2px;
    color: blue;
}


.midleTable3{
    background: rgb(255, 145, 0);
    width: 15%;
    vertical-align: top;
    text-align: center;
}

.midleTable3 img{
    max-width: 90%;
}