<!-- Inheriting the template -->
{% extends 'template_ch.html' %}

<!-- A block instead of a page link -->
{% block tittle %}
    📈 结果如何 📉
{% endblock %}

<!-- The main content of the page -->
{% block body %}
<div class="final">

    <!-- The inscription on the website -->
	<div style="margin-top: 50px">
		<h1> 结果如何 </h1>
	</div>

    <!-- The table with personal css file -->
	<table>
		<tbody>

            <!-- Predictable result -->
            <tr>
                <td>
                    <h2> 你下学期可预测的结果是 {{predict}}/100! </h2>
                </td>
            <tr>

            <!-- Button to return the back -->
            <tr>
                <td>
                    <a href="http://127.0.0.1:5000/home">
                        <button type="button"> 家 </button>
                    </a>
                </td>
            <tr>

        </tbody>
    </table>

</div>
{% endblock %}