{% extends 'template.html' %}

{% block tittle %}
    📝 Feedback 📝
{% endblock %}

{% block body %}
<div>
	<div style="margin-top: 50px">
		<h1>FEEDBACK MESSAGE</h1>
	</div>

	<table class="feedback">
		<tbody>

			<tr>
				<td>
					<h2>Write your message to the author:</h2>
				</td>
			</tr>

			<tr>
				<td>
					<textarea name="message" cols="75" rows="4">
                    </textarea>
				</td>
			</tr>

			 <tr>
				<td>
					<form action="/home" method="get">
						<button type="submit" class="Back">BACK</button>
					</form>
				</td>

				 <td>
					<form action="/report" method="post">
						<button type="submit" class="Send">SEND</button>
					</form>
				</td>
			</tr>

		</tbody>
	</table>
</div>
{% endblock %}